//@font-face {
//    font-family: 'alice';
//    src: url('../fonts/Alice-Normal.otf') format('opentype'),
//    src: url('../fonts/src/testfonts/alice-normal-webfont.woff') format('woff'),
//         url('../fonts/src/testfonts/alice-normal-webfont.ttf') format('truetype'),
//         url('../fonts/src/testfonts/alice-normal-webfont.svg#alicenormal') format('svg');
//    font-weight: 400;
//    font-style: normal;
//}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/ttf/WorkSans-Regular.ttf') format('truetype'),
    url('../fonts/woff/WorkSans-Regular.ttf') format('woff'),
    url('../fonts/woff2/WorkSans-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;   
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/ttf/WorkSans-Medium.ttf') format('truetype'),
     url('../fonts/woff/WorkSans-Medium.ttf') format('woff'),
    url('../fonts/woff2/WorkSans-Medium.ttf') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/ttf/WorkSans-SemiBold.ttf') format('truetype'),
    url('../fonts/woff/WorkSans-SemiBold.ttf') format('woff'),
    url('../fonts/woff2/WorkSans-SemiBold.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/ttf/WorkSans-Bold.ttf') format('truetype'),
    url('../fonts/woff/WorkSans-Bold.ttf') format('woff'),
    url('../fonts/woff2/WorkSans-Bold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/ttf/WorkSans-ExtraBold.ttf') format('truetype'),
    url('../fonts/woff/WorkSans-ExtraBold.ttf') format('woff'),
    url('../fonts/woff2/WorkSans-ExtraBold.ttf') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/ttf/WorkSans-Black.ttf') format('truetype'),
    url('../fonts/woff/WorkSans-Black.ttf') format('woff'),
    url('../fonts/woff2/WorkSans-Black.ttf') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/ttf/WorkSans-Light.ttf') format('truetype'),
    url('../fonts/woff/WorkSans-Light.ttf') format('woff'),
    url('../fonts/woff2/WorkSans-Light.ttf') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/ttf/WorkSans-ExtraLight.ttf') format('truetype'),
    url('../fonts/woff/WorkSans-ExtraLight.ttf') format('woff'),
    url('../fonts/woff2/WorkSans-ExtraLight.ttf') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/ttf/WorkSans-Thin.ttf') format('truetype'),
    url('../fonts/woff/WorkSans-Thin.ttf') format('woff'),
    url('../fonts/woff2/WorkSans-Thin.ttf') format('woff2');
    font-weight: 100;
    font-style: normal;
}