<header class="header">
  <a class="logo large" href="https://moaazsidat.com">
    <img class = "logo-img small" src="/img/logo.svg"/>
    <!-- <svg class="logo-svg" version="1.1">
      <title>Fill 1</title>
      <defs></defs>
      <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="ms-logo" sketch:type="MSArtboardGroup" transform="translate(-392.000000, -63.000000)" fill="#4A4A4A">
          <g id="Group" sketch:type="MSLayerGroup" transform="translate(392.000000, 63.000000)">
            <g id="Imported-Layers" sketch:type="MSShapeGroup">
              <path d="M29.0020714,0.410230769 L21.0726429,14.1802308 L36.9315,14.1802308 L29.0020714,0.410230769 Z M32.0077143,41.0078462 L30.7835,38.8852308 L19.43,19.1648462 L0.720857143,51.6562308 L7.12985714,51.6562308 L19.43,30.2971538 L31.7301429,51.6562308 L38.1391429,51.6562308 L32.0077143,41.0078462 Z M30.1620714,33.0823077 L32.8238571,37.7034615 L33.3665714,38.6463846 L38.1743571,30.2950769 L50.4745,51.6562308 L56.8835,51.6562308 L38.1743571,19.1648462 L30.1620714,33.0823077 Z M24.2377857,43.3672308 L23.6163571,44.4493077 L19.4672857,51.6562308 L25.8762857,51.6562308 L27.4422857,48.9333846 L24.2377857,43.3672308 Z" id="Fill-1"></path>
            </g>
          </g>
        </g>
      </g>
    </svg> -->
  </a>
  <nav class="navigation">
    <ul>
      <!-- {% if page.url == '/work/' %}
        <a href="{{site.baseurl}}/work/"><li class="nav-link active">work</li></a>
      {% else %}
        <a href="{{site.baseurl}}/work/"><li class="nav-link ">work</li></a>
      {% endif %} -->

      <!-- {% if page.url == '/projects/' %}
        <a href="{{site.baseurl}}/projects/"><li class="nav-link active">projects</li></a>
      {% else %}
        <a href="{{site.baseurl}}/projects/"><li class="nav-link ">projects</li></a>
      {% endif %}

      {% if page.url == '/writings/' %}
        <a href="{{site.baseurl}}/writings/"><li class="nav-link active">writings</li></a>
      {% else %}
        <a href="{{site.baseurl}}/writings/"><li class="nav-link ">writings</li></a>
      {% endif %} -->

      <!-- {% for my_page in site.pages %}
        {% if my_page.title %}
          {% if my_page.url == page.url %}
            <a href="{{ my_page.url | prepend: site.baseurl }}"><li class="nav-link active">{{ my_page.title | downcase }}</li></a>
          {% else %}
            <a href="{{ my_page.url | prepend: site.baseurl }}"><li class="nav-link">{{ my_page.title | downcase }}</li></a>
          {% endif %}
        {% endif %}
      {% endfor %} -->
    </ul>
  </nav>
</header>
