<header class="header">
  <a class="logo" href="http://moaazsidat.com">
    <img src="img/logo.svg"/>
  </a>
  <nav>
    <ul>
      {% for my_page in site.pages %}
        {% if my_page.title %}
          {% if my_page.url == page.url %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}"><li class="nav-link active">{{ my_page.title }}</li></a>
          {% else %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}"><li class="nav-link">{{ my_page.title }}</li></a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
