<header class="header header-post">
  <a class="logo small" href="http://moaazsidat.com">
    <img class="logo-img small"src="/img/logo.svg"/>
  </a>
  <nav class="navigation navigation-back">
    <ul>
      {% if page.categories contains 'writings' %}
        <a href="http://moaazsidat.github.io/writings"><li class="nav-link">← Back to Writings</li></a>
      {% elsif page.categories contains 'dac309' %}
        <a href="http://moaazsidat.github.io/dac309"><li class="nav-link">← Back to DAC 309</li></a>
      {% endif %}
    </ul>
  </nav>
</header>
