<section class="social">
  <ul>
    <a class="link-social link-twitter" href="http://twitter.com/moaazsidat" target="_blank"><i class="fa fa-twitter"></i><span class="text-label">Twitter</span></a>
    <a class="link-social link-github" href="http://github.com/moaazsidat" target="_blank"><i class="fa fa-github-alt"></i><span class="text-label">Github</span></a>
    <a class="link-social link-dribbble" href="http://dribbble.com/moaazsidat" target="_blank"><i class="fa fa-dribbble"></i><span class="text-label">Dribbble</span></a>
    <a class="link-social link-instagram" href="http://instagram.com/moaazsidat" target="_blank"><i class="fa fa-instagram"></i><span class="text-label">Instagram</span></a>
    <a class="link-social link-behance" href="http://behance.net/moaazsidat" target="_blank"><i class="fa fa-behance"></i><span class="text-label">Behance</span></a>
    <a class="link-social link-linkedin" href="http://linkedin.com/in/moaazsidat" target="_blank"><i class="fa fa-linkedin"></i><span class="text-label">Linkedin</span></a>
    <a class="link-social link-email" href="mailto:moaazsidat@gmail..com?Subject=Hello!"><i class="fa fa-envelope"></i><span class="text-label">Say Hello!</span></a>
  </ul>
</section>
