/**
* Colors
*/

$bg-color: #FFF;
$b92: #EBEBEB;
$b95: #F2F2F2;
$b97: #F7F7F7;
$primary-color: #4A4A4A;
$text-color: darken($primary-color, 16%);
$text-color-metadata: lighten($primary-color, 30%);
$special-color: #D84315;
$special-color-dark: darken(#BF360C, 10%);
$secondary-color: lighten($primary-color, 30%);
$twitter:#55acee;
$behance:#1769ff;
$dribbble:#ea4c89;
$instagram:#3f729b;
$github:#666;
$linkedin:#0976b4;
$remembrall-dark: #2B4144;
$remembrall-light: #1DCADD;
$dribbble-ios7: #FF1782;
$flexregistry: #01A1DF;
$clearskies: #32267B;
$rn-qrcode-scanner: #333;
