@import '_fonts';
@import '_colors';
@import '_mixins';
// @import 'syntax-highlighting';
// @import 'solarized-light';

$paragraph-height: 28px;

p {
  margin: $paragraph-height auto;
}

a {
  color: $special-color;

  &:hover {
    color: $special-color-dark
  }
}

img {
  width: 100%;
}

.post {
  margin: 40px 0 60px 0;

  ul {
    margin-left: 20px;
  }
}

.post-metadata {
  margin-top: 8px;
  color: $text-color-metadata
}

h1 {
  font-size: 1.8em;
  color: $primary-color;
  font-weight: 600;
}

h3 {
  margin-top: 50px;
  font-family: $font-stack-sans;
  color: $primary-color;
  font-weight: 600;
  font-size: 1.4em;
}

h6 {
  font-style: italic;
  color: $text-color-metadata;
  font-size: 0.8em;
  text-align: center;
  font-weight: 300;
  margin-top: -$paragraph-height;
}

.post-content {
  font-family: $font-stack-serif;
  font-size: 1.1em;
  line-height: 2;
}

.note {
  font-style: italic;
}

.endnote {
  font-style: italic;
  font-size: 0.9em;
  color: $text-color-metadata;
  text-align: center;
}
