@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600,700,800,900);
/** Variables **/
/** Mixins **/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #4A4A4A; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #FFF; }

.frame {
  min-height: 100%;
  background-color: #FFF;
  border-top: 5px solid #4A4A4A; }

.header {
  margin: 50px auto 0px auto;
  width: 640px;
  font-family: "Work sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.logo {
  display: inline-block; }
  .logo #ms-logo {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .logo:hover #ms-logo {
    fill: #212121; }

nav {
  float: right;
  display: inline-block; }
  nav ul {
    padding-top: 10px; }
    nav ul li {
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
      margin-left: 18px;
      margin-right: 18px;
      font-size: 18px;
      color: #4A4A4A;
      display: inline-block; }
    nav ul .active {
      font-weight: 600; }
    nav ul .nav-link {
      position: relative;
      color: #000;
      text-decoration: none; }
      nav ul .nav-link:hover {
        color: #000; }
        nav ul .nav-link:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1); }
      nav ul .nav-link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -7px;
        left: 0;
        background-color: #000;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s cubic-bezier(0, 0.16, 0.25, 1.4) 0s; }

.photo {
  width: 120px;
  height: 120px;
  display: block;
  margin: 50px auto 20px auto;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  background-image: url(../img/Moaaz-1x1.png);
  background-size: cover;
  background-position: -2px center;
  opacity: 0;
  /* make things invisible upon start */
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation: fadeIn ease-in-out 1;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  animation-duration: .6s;
  animation-delay: 0.2s; }

.content, .projects {
  margin: 0 auto;
  width: 640px;
  font-family: "Work sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.about {
  margin-top: 50px;
  font-size: 1.125em;
  line-height: 1.8;
  color: #4A4A4A;
  opacity: 0;
  /* make things invisible upon start */
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation: fadeIn ease-in-out 1;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  animation-duration: .6s;
  animation-delay: 0.36s; }

.link-text {
  position: relative;
  font-weight: 600;
  color: #4A4A4A;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  padding-bottom: 3px;
  border-bottom: 1px solid #4A4A4A; }
  .link-text:hover {
    color: #212121;
    border-color: #212121; }

.social {
  margin: 50px auto;
  width: 720px;
  text-align: center;
  opacity: 0;
  /* make things invisible upon start */
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation: fadeIn ease-in-out 1;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  animation-duration: .6s;
  animation-delay: 0.42s; }
  .social .link-social {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin: auto 16px;
    text-transform: lowercase;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .social .link-social:hover .text-label {
      opacity: 1;
      transform: translateY(-10px); }
    .social .link-social i {
      font-size: 1.8em;
      color: inherit; }
    .social .link-social .text-label {
      font-family: "Work sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      opacity: 0;
      margin-top: 20px;
      display: block;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }

.social .link-twitter {
  color: #55acee; }
  .social .link-twitter:hover {
    color: #2795e9; }
.social .link-behance {
  color: #1769ff; }
  .social .link-behance:hover {
    color: #0050e3; }
.social .link-dribbble {
  color: #ea4c89; }
  .social .link-dribbble:hover {
    color: #e51e6b; }
.social .link-instagram {
  color: #3f729b; }
  .social .link-instagram:hover {
    color: #305777; }
.social .link-github {
  color: #666; }
  .social .link-github:hover {
    color: #4d4d4d; }
.social .link-linkedin {
  color: #0976b4; }
  .social .link-linkedin:hover {
    color: #075683; }
.social .link-email {
  color: #979797; }
  .social .link-email:hover {
    color: #7d7d7d; }

.footer {
  margin: 0 auto 50px auto;
  padding-bottom: 20px;
  font-family: "Work sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.8em;
  color: #979797;
  text-align: center; }
  .footer .footer-link {
    color: #979797;
    transition: all 0.3s ease-in-out 0s; }
    .footer .footer-link:hover {
      color: #4A4A4A; }
  .footer p {
    margin-bottom: 16px;
    line-height: 1.6; }
  .footer .link-attribution {
    display: none;
    position: relative;
    color: #979797;
    text-decoration: none; }
    .footer .link-attribution:hover {
      color: #979797; }
      .footer .link-attribution:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
    .footer .link-attribution:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #979797;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }

.projects {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 720px;
  min-height: 320px;
  display: block;
  text-align: center;
  opacity: 0;
  animation: fadeIn ease-in-out 1;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  animation-duration: .6s;
  animation-delay: 0.2s; }
  .projects .project {
    margin: auto;
    display: inline-block;
    vertical-align: top; }
  .projects .project-details {
    height: 160px; }
  .projects .project-box {
    border-top: 5px solid transparent;
    text-align: left;
    height: 220px;
    width: 220px;
    padding: 16px;
    margin: 7px;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s; }
    .projects .project-box h2 {
      font-size: 1.5em;
      font-weight: 300;
      margin-bottom: 16px; }
    .projects .project-box .tasks {
      display: block;
      margin-bottom: 32px; }
    .projects .project-box .view {
      width: 100%;
      display: inline;
      bottom: 10px;
      right: 2px;
      text-align: right;
      font-size: 0.8em;
      margin-bottom: 3px;
      border-bottom: 1px dotted #4A4A4A; }
  .projects .remembrall {
    border-top: 5px solid #1DCADD; }
  .projects .dribbbleiOS7 {
    border-top: 5px solid #FF1782; }
  .projects .flexregistry {
    border-top: 5px solid #01A1DF; }
  .projects a:hover .view {
    border-bottom: 1px dotted #fff; }
  .projects a:hover .remembrall {
    background: #1DCADD;
    color: #fff; }
  .projects a:hover .dribbbleiOS7 {
    background: #FF1782;
    color: #fff; }
  .projects a:hover .flexregistry {
    background: #01A1DF;
    color: #fff; }

@media (max-width: 720px) {
  .frame {
    padding: 30px; }

  .header {
    margin: 0px auto 0px auto;
    width: 100%; }

  .content, .projects {
    margin: 0 auto;
    width: 100%; }

  .social {
    margin: 20px auto;
    width: 100%; }
    .social .link-social {
      min-width: 70px;
      margin: 10px 16px; }
      .social .link-social .text-label {
        margin-top: 20px; }

  .projects {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    min-height: 300px;
    display: block;
    text-align: center; }
    .projects .project {
      margin: auto;
      display: block; }
    .projects .project-details {
      height: 120px; }
    .projects .project-box {
      height: 180px;
      width: 90%;
      padding: 16px;
      margin: 20px auto; } }
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation: fadeIn ease-in-out 1;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  animation-duration: .85s;
  animation-delay: 0.2s; }

/*# sourceMappingURL=style.css.map */
