@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/* line 54, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 60, ../sass/style.scss */
a {
  text-decoration: none;
  color: #4a4a4a;
}

/* line 65, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 73, ../sass/style.scss */
body {
  background-color: #f7f7f7;
}

/* line 78, ../sass/style.scss */
.frame {
  min-height: 100%;
  background-color: #f7f7f7;
  border-top: 5px solid #4a4a4a;
}

/* line 93, ../sass/style.scss */
.header {
  margin: 50px auto 0px auto;
  width: 640px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* line 99, ../sass/style.scss */
.logo {
  display: inline-block;
}
/* line 102, ../sass/style.scss */
.logo #ms-logo {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
/* line 106, ../sass/style.scss */
.logo:hover #ms-logo {
  fill: #212121;
}

/* line 112, ../sass/style.scss */
nav {
  float: right;
  display: inline-block;
}
/* line 115, ../sass/style.scss */
nav ul {
  padding-top: 10px;
}
/* line 117, ../sass/style.scss */
nav ul li {
  text-align: right;
  cursor: pointer;
  margin-left: 18px;
  font-size: 18px;
  color: #4a4a4a;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 2px dotted transparent;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
/* line 128, ../sass/style.scss */
nav ul li:hover {
  color: #212121;
  border-bottom: 2px dotted #4a4a4a;
}
/* line 137, ../sass/style.scss */
nav ul .active {
  font-weight: 900;
}

/* line 144, ../sass/style.scss */
.photo {
  width: 120px;
  height: 120px;
  display: block;
  margin: 50px auto 20px auto;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  background-image: url(../img/Moaaz-1x1.jpg);
  background-size: cover;
  background-position: center;
}

/* line 157, ../sass/style.scss */
.content, .projects {
  margin: 0 auto;
  width: 640px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* line 163, ../sass/style.scss */
.about {
  margin-top: 50px;
  font-size: 1.25em;
  line-height: 1.5;
  color: #4a4a4a;
}

/* line 170, ../sass/style.scss */
.link-text {
  position: relative;
  font-weight: bold;
  color: #4a4a4a;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
}
/* line 177, ../sass/style.scss */
.link-text:hover {
  color: #212121;
}
/* line 180, ../sass/style.scss */
.link-text:hover:before {
  background-color: #212121;
}
/* line 188, ../sass/style.scss */
.link-text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #4a4a4a;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* line 204, ../sass/style.scss */
.social {
  margin: 50px auto;
  width: 720px;
  text-align: center;
}
/* line 209, ../sass/style.scss */
.social .link-social {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  margin: auto 16px;
  text-transform: lowercase;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
/* line 217, ../sass/style.scss */
.social .link-social:hover .text-label {
  opacity: 1;
  transform: translateY(-10px);
}
/* line 224, ../sass/style.scss */
.social .link-social i {
  font-size: 1.8em;
  color: inherit;
}
/* line 229, ../sass/style.scss */
.social .link-social .text-label {
  font-family: 'Lato', 'Helvetica', sans-serif;
  opacity: 0;
  margin-top: 20px;
  display: block;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

/* line 241, ../sass/style.scss */
.social .link-twitter {
  color: #55acee;
}
/* line 244, ../sass/style.scss */
.social .link-twitter:hover {
  color: #2795e9;
}
/* line 249, ../sass/style.scss */
.social .link-behance {
  color: #1769ff;
}
/* line 251, ../sass/style.scss */
.social .link-behance:hover {
  color: #0050e3;
}
/* line 256, ../sass/style.scss */
.social .link-dribbble {
  color: #ea4c89;
}
/* line 258, ../sass/style.scss */
.social .link-dribbble:hover {
  color: #e51e6b;
}
/* line 263, ../sass/style.scss */
.social .link-instagram {
  color: #3f729b;
}
/* line 265, ../sass/style.scss */
.social .link-instagram:hover {
  color: #305777;
}
/* line 270, ../sass/style.scss */
.social .link-github {
  color: #666666;
}
/* line 272, ../sass/style.scss */
.social .link-github:hover {
  color: #4d4d4d;
}
/* line 277, ../sass/style.scss */
.social .link-linkedin {
  color: #0976b4;
}
/* line 279, ../sass/style.scss */
.social .link-linkedin:hover {
  color: #075683;
}
/* line 284, ../sass/style.scss */
.social .link-email {
  color: #979797;
}
/* line 286, ../sass/style.scss */
.social .link-email:hover {
  color: #7d7d7d;
}

/* line 292, ../sass/style.scss */
.footer {
  margin: 0 auto 50px auto;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.8em;
  color: #979797;
  text-align: center;
}
/* line 300, ../sass/style.scss */
.footer p {
  margin-bottom: 16px;
}
/* line 304, ../sass/style.scss */
.footer .link-attribution {
  display: none;
  position: relative;
  color: #979797;
  text-decoration: none;
}
/* line 310, ../sass/style.scss */
.footer .link-attribution:hover {
  color: #979797;
}
/* line 313, ../sass/style.scss */
.footer .link-attribution:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* line 320, ../sass/style.scss */
.footer .link-attribution:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #979797;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* line 337, ../sass/style.scss */
.projects {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 720px;
  min-height: 320px;
  display: block;
  text-align: center;
}
/* line 346, ../sass/style.scss */
.projects .project {
  margin: auto;
  display: inline-block;
  vertical-align: top;
}
/* line 352, ../sass/style.scss */
.projects .project-details {
  height: 160px;
}
/* line 356, ../sass/style.scss */
.projects .project-box {
  border-top: 5px solid transparent;
  text-align: left;
  height: 220px;
  width: 220px;
  padding: 16px;
  margin: 7px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
/* line 368, ../sass/style.scss */
.projects .project-box h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 16px;
}
/* line 374, ../sass/style.scss */
.projects .project-box .tasks {
  display: block;
  margin-bottom: 32px;
}
/* line 379, ../sass/style.scss */
.projects .project-box .view {
  width: 100%;
  display: inline;
  bottom: 10px;
  right: 2px;
  text-align: right;
  font-size: 0.8em;
  margin-bottom: 3px;
  border-bottom: 1px dotted #4a4a4a;
}
/* line 392, ../sass/style.scss */
.projects .remembrall {
  border-top: 5px solid #1dcadd;
}
/* line 397, ../sass/style.scss */
.projects .dribbbleiOS7 {
  border-top: 5px solid #ff1782;
}
/* line 401, ../sass/style.scss */
.projects .flexregistry {
  border-top: 5px solid #01a1df;
}
/* line 408, ../sass/style.scss */
.projects a:hover .view {
  border-bottom: 1px dotted #fff;
}
/* line 411, ../sass/style.scss */
.projects a:hover .remembrall {
  background: #1dcadd;
  color: #fff;
}
/* line 416, ../sass/style.scss */
.projects a:hover .dribbbleiOS7 {
  background: #ff1782;
  color: #fff;
}
/* line 421, ../sass/style.scss */
.projects a:hover .flexregistry {
  background: #01a1df;
  color: #fff;
}

@media (max-width: 720px) {
  /* line 432, ../sass/style.scss */
  .frame {
    padding: 30px;
    min-height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #f7f7f7;
    border-top: 5px solid #4a4a4a;
  }

  /* line 444, ../sass/style.scss */
  .frame > section {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  /* line 448, ../sass/style.scss */
  .header {
    margin: 0px auto 0px auto;
    width: 100%;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  /* line 454, ../sass/style.scss */
  .logo {
    display: inline-block;
  }
  /* line 457, ../sass/style.scss */
  .logo #ms-logo {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  /* line 461, ../sass/style.scss */
  .logo:hover #ms-logo {
    fill: #212121;
  }

  /* line 467, ../sass/style.scss */
  nav {
    float: right;
    display: inline-block;
  }
  /* line 470, ../sass/style.scss */
  nav ul {
    padding-top: 10px;
  }
  /* line 472, ../sass/style.scss */
  nav ul li {
    text-align: right;
    cursor: pointer;
    margin-left: 18px;
    font-size: 18px;
    color: #4a4a4a;
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 2px dotted transparent;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  /* line 483, ../sass/style.scss */
  nav ul li:hover {
    color: #212121;
    border-bottom: 2px dotted #4a4a4a;
  }
  /* line 492, ../sass/style.scss */
  nav ul .active {
    font-weight: 900;
  }

  /* line 499, ../sass/style.scss */
  .photo {
    width: 120px;
    height: 120px;
    display: block;
    margin: 50px auto 20px auto;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    background-image: url(../img/Moaaz-1x1.jpg);
    background-size: cover;
    background-position: center;
  }

  /* line 512, ../sass/style.scss */
  .content, .projects {
    margin: 0 auto;
    width: 100%;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  /* line 518, ../sass/style.scss */
  .about {
    margin-top: 50px;
    font-size: 1.25em;
    line-height: 1.5;
    color: #4a4a4a;
  }

  /* line 525, ../sass/style.scss */
  .link-text {
    position: relative;
    font-weight: bold;
    color: #4a4a4a;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
  }
  /* line 532, ../sass/style.scss */
  .link-text:hover {
    color: #212121;
  }
  /* line 535, ../sass/style.scss */
  .link-text:hover:before {
    background-color: #212121;
  }
  /* line 543, ../sass/style.scss */
  .link-text:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #4a4a4a;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  /* line 559, ../sass/style.scss */
  .social {
    margin: 20px auto;
    width: 100%;
    text-align: center;
  }
  /* line 564, ../sass/style.scss */
  .social .link-social {
    min-width: 70px;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin: 10px 16px;
    text-transform: lowercase;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  /* line 573, ../sass/style.scss */
  .social .link-social:hover .text-label {
    opacity: 1;
    transform: translateY(-10px);
  }
  /* line 580, ../sass/style.scss */
  .social .link-social i {
    font-size: 1.8em;
    color: inherit;
  }
  /* line 585, ../sass/style.scss */
  .social .link-social .text-label {
    font-family: 'Lato', 'Helvetica', sans-serif;
    opacity: 0;
    margin-top: 20px;
    display: block;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }

  /* line 597, ../sass/style.scss */
  .social .link-twitter {
    color: #55acee;
  }
  /* line 600, ../sass/style.scss */
  .social .link-twitter:hover {
    color: #2795e9;
  }
  /* line 605, ../sass/style.scss */
  .social .link-behance {
    color: #1769ff;
  }
  /* line 607, ../sass/style.scss */
  .social .link-behance:hover {
    color: #0050e3;
  }
  /* line 612, ../sass/style.scss */
  .social .link-dribbble {
    color: #ea4c89;
  }
  /* line 614, ../sass/style.scss */
  .social .link-dribbble:hover {
    color: #e51e6b;
  }
  /* line 619, ../sass/style.scss */
  .social .link-instagram {
    color: #3f729b;
  }
  /* line 621, ../sass/style.scss */
  .social .link-instagram:hover {
    color: #305777;
  }
  /* line 626, ../sass/style.scss */
  .social .link-github {
    color: #666666;
  }
  /* line 628, ../sass/style.scss */
  .social .link-github:hover {
    color: #4d4d4d;
  }
  /* line 633, ../sass/style.scss */
  .social .link-linkedin {
    color: #0976b4;
  }
  /* line 635, ../sass/style.scss */
  .social .link-linkedin:hover {
    color: #075683;
  }
  /* line 640, ../sass/style.scss */
  .social .link-email {
    color: #979797;
  }
  /* line 642, ../sass/style.scss */
  .social .link-email:hover {
    color: #7d7d7d;
  }

  /* line 648, ../sass/style.scss */
  .footer {
    margin: 0 auto 50px auto;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 0.8em;
    color: #979797;
    text-align: center;
  }
  /* line 656, ../sass/style.scss */
  .footer p {
    margin-bottom: 10px;
  }
  /* line 660, ../sass/style.scss */
  .footer .link-attribution {
    display: none;
    position: relative;
    color: #979797;
    text-decoration: none;
  }
  /* line 666, ../sass/style.scss */
  .footer .link-attribution:hover {
    color: #979797;
  }
  /* line 669, ../sass/style.scss */
  .footer .link-attribution:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  /* line 676, ../sass/style.scss */
  .footer .link-attribution:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #979797;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  /* line 693, ../sass/style.scss */
  .projects {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    min-height: 300px;
    display: block;
    text-align: center;
  }
  /* line 701, ../sass/style.scss */
  .projects .project {
    margin: auto;
    display: block;
    vertical-align: top;
    box-shadow: 0 0;
  }
  /* line 708, ../sass/style.scss */
  .projects .project-details {
    height: 120px;
  }
  /* line 712, ../sass/style.scss */
  .projects .project-box {
    border-top: 5px solid transparent;
    text-align: left;
    height: 180px;
    width: 90%;
    padding: 16px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  /* line 724, ../sass/style.scss */
  .projects .project-box h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 16px;
  }
  /* line 730, ../sass/style.scss */
  .projects .project-box .tasks {
    display: block;
    margin-bottom: 32px;
  }
  /* line 735, ../sass/style.scss */
  .projects .project-box .view {
    width: 100%;
    display: inline;
    bottom: 10px;
    right: 2px;
    text-align: right;
    font-size: 0.8em;
    margin-bottom: 3px;
    border-bottom: 1px dotted #4a4a4a;
  }
  /* line 748, ../sass/style.scss */
  .projects .remembrall {
    border-top: 5px solid #1dcadd;
  }
  /* line 753, ../sass/style.scss */
  .projects .dribbbleiOS7 {
    border-top: 5px solid #ff1782;
  }
  /* line 757, ../sass/style.scss */
  .projects .flexregistry {
    border-top: 5px solid #01a1df;
  }
  /* line 764, ../sass/style.scss */
  .projects a:hover .view {
    border-bottom: 1px dotted #fff;
  }
  /* line 767, ../sass/style.scss */
  .projects a:hover .remembrall {
    background: #1dcadd;
    color: #fff;
  }
  /* line 772, ../sass/style.scss */
  .projects a:hover .dribbbleiOS7 {
    background: #ff1782;
    color: #fff;
  }
  /* line 777, ../sass/style.scss */
  .projects a:hover .flexregistry {
    background: #01a1df;
    color: #fff;
  }
}
