@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/* line 55, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, ../sass/style.scss */
a {
  text-decoration: none;
  color: #4A4A4A;
}

/* line 66, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 74, ../sass/style.scss */
body {
  background-color: #FFF;
}

/* line 79, ../sass/style.scss */
.frame {
  min-height: 100%;
  background-color: #FFF;
  border-top: 5px solid #4A4A4A;
}

/* line 94, ../sass/style.scss */
.header {
  margin: 50px auto 0px auto;
  width: 640px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* line 100, ../sass/style.scss */
.logo {
  display: inline-block;
}
/* line 103, ../sass/style.scss */
.logo #ms-logo {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
/* line 107, ../sass/style.scss */
.logo:hover #ms-logo {
  fill: #212121;
}

/* line 113, ../sass/style.scss */
nav {
  float: right;
  display: inline-block;
}
/* line 116, ../sass/style.scss */
nav ul {
  padding-top: 10px;
}
/* line 118, ../sass/style.scss */
nav ul li {
  text-align: right;
  cursor: pointer;
  margin-left: 18px;
  font-size: 18px;
  color: #4A4A4A;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 2px dotted transparent;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
/* line 129, ../sass/style.scss */
nav ul li:hover {
  color: #212121;
  border-bottom: 2px dotted #4A4A4A;
}
/* line 138, ../sass/style.scss */
nav ul .active {
  font-weight: 900;
}

/* line 145, ../sass/style.scss */
.photo {
  width: 120px;
  height: 120px;
  display: block;
  margin: 50px auto 20px auto;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  background-image: url(../img/Moaaz-1x1.jpg);
  background-size: cover;
  background-position: center;
}

/* line 158, ../sass/style.scss */
.content, .projects {
  margin: 0 auto;
  width: 640px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* line 164, ../sass/style.scss */
.about {
  margin-top: 50px;
  font-size: 1.25em;
  line-height: 1.5;
  color: #4A4A4A;
}

/* line 171, ../sass/style.scss */
.link-text {
  position: relative;
  font-weight: bold;
  color: #4A4A4A;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
}
/* line 178, ../sass/style.scss */
.link-text:hover {
  color: #212121;
}
/* line 181, ../sass/style.scss */
.link-text:hover:before {
  background-color: #212121;
}
/* line 189, ../sass/style.scss */
.link-text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #4A4A4A;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* line 205, ../sass/style.scss */
.social {
  margin: 50px auto;
  width: 720px;
  text-align: center;
}
/* line 210, ../sass/style.scss */
.social .link-social {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  margin: auto 16px;
  text-transform: lowercase;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
/* line 218, ../sass/style.scss */
.social .link-social:hover .text-label {
  opacity: 1;
  transform: translateY(-10px);
}
/* line 225, ../sass/style.scss */
.social .link-social i {
  font-size: 1.8em;
  color: inherit;
}
/* line 230, ../sass/style.scss */
.social .link-social .text-label {
  font-family: 'Lato', 'Helvetica', sans-serif;
  opacity: 0;
  margin-top: 20px;
  display: block;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

/* line 242, ../sass/style.scss */
.social .link-twitter {
  color: #55acee;
}
/* line 245, ../sass/style.scss */
.social .link-twitter:hover {
  color: #2795e9;
}
/* line 250, ../sass/style.scss */
.social .link-behance {
  color: #1769ff;
}
/* line 252, ../sass/style.scss */
.social .link-behance:hover {
  color: #0050e3;
}
/* line 257, ../sass/style.scss */
.social .link-dribbble {
  color: #ea4c89;
}
/* line 259, ../sass/style.scss */
.social .link-dribbble:hover {
  color: #e51e6b;
}
/* line 264, ../sass/style.scss */
.social .link-instagram {
  color: #3f729b;
}
/* line 266, ../sass/style.scss */
.social .link-instagram:hover {
  color: #305777;
}
/* line 271, ../sass/style.scss */
.social .link-github {
  color: #666;
}
/* line 273, ../sass/style.scss */
.social .link-github:hover {
  color: #4d4d4d;
}
/* line 278, ../sass/style.scss */
.social .link-linkedin {
  color: #0976b4;
}
/* line 280, ../sass/style.scss */
.social .link-linkedin:hover {
  color: #075683;
}
/* line 285, ../sass/style.scss */
.social .link-email {
  color: #979797;
}
/* line 287, ../sass/style.scss */
.social .link-email:hover {
  color: #7d7d7d;
}

/* line 293, ../sass/style.scss */
.footer {
  margin: 0 auto 50px auto;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.8em;
  color: #979797;
  text-align: center;
}
/* line 301, ../sass/style.scss */
.footer p {
  margin-bottom: 16px;
  line-height: 1.6;
}
/* line 306, ../sass/style.scss */
.footer .link-attribution {
  display: none;
  position: relative;
  color: #979797;
  text-decoration: none;
}
/* line 312, ../sass/style.scss */
.footer .link-attribution:hover {
  color: #979797;
}
/* line 315, ../sass/style.scss */
.footer .link-attribution:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* line 322, ../sass/style.scss */
.footer .link-attribution:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #979797;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* line 339, ../sass/style.scss */
.projects {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 720px;
  min-height: 320px;
  display: block;
  text-align: center;
}
/* line 348, ../sass/style.scss */
.projects .project {
  margin: auto;
  display: inline-block;
  vertical-align: top;
}
/* line 354, ../sass/style.scss */
.projects .project-details {
  height: 160px;
}
/* line 358, ../sass/style.scss */
.projects .project-box {
  border-top: 5px solid transparent;
  text-align: left;
  height: 220px;
  width: 220px;
  padding: 16px;
  margin: 7px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
/* line 370, ../sass/style.scss */
.projects .project-box h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 16px;
}
/* line 376, ../sass/style.scss */
.projects .project-box .tasks {
  display: block;
  margin-bottom: 32px;
}
/* line 381, ../sass/style.scss */
.projects .project-box .view {
  width: 100%;
  display: inline;
  bottom: 10px;
  right: 2px;
  text-align: right;
  font-size: 0.8em;
  margin-bottom: 3px;
  border-bottom: 1px dotted #4A4A4A;
}
/* line 394, ../sass/style.scss */
.projects .remembrall {
  border-top: 5px solid #1DCADD;
}
/* line 399, ../sass/style.scss */
.projects .dribbbleiOS7 {
  border-top: 5px solid #FF1782;
}
/* line 403, ../sass/style.scss */
.projects .flexregistry {
  border-top: 5px solid #01A1DF;
}
/* line 410, ../sass/style.scss */
.projects a:hover .view {
  border-bottom: 1px dotted #fff;
}
/* line 413, ../sass/style.scss */
.projects a:hover .remembrall {
  background: #1DCADD;
  color: #fff;
}
/* line 418, ../sass/style.scss */
.projects a:hover .dribbbleiOS7 {
  background: #FF1782;
  color: #fff;
}
/* line 423, ../sass/style.scss */
.projects a:hover .flexregistry {
  background: #01A1DF;
  color: #fff;
}

@media (max-width: 720px) {
  /* line 434, ../sass/style.scss */
  .frame {
    padding: 30px;
    min-height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #FFF;
    border-top: 5px solid #4A4A4A;
  }

  /* line 446, ../sass/style.scss */
  .frame > section {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  /* line 450, ../sass/style.scss */
  .header {
    margin: 0px auto 0px auto;
    width: 100%;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  /* line 456, ../sass/style.scss */
  .logo {
    display: inline-block;
  }
  /* line 459, ../sass/style.scss */
  .logo #ms-logo {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  /* line 463, ../sass/style.scss */
  .logo:hover #ms-logo {
    fill: #212121;
  }

  /* line 469, ../sass/style.scss */
  nav {
    float: right;
    display: inline-block;
  }
  /* line 472, ../sass/style.scss */
  nav ul {
    padding-top: 10px;
  }
  /* line 474, ../sass/style.scss */
  nav ul li {
    text-align: right;
    cursor: pointer;
    margin-left: 18px;
    font-size: 18px;
    color: #4A4A4A;
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 2px dotted transparent;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  /* line 485, ../sass/style.scss */
  nav ul li:hover {
    color: #212121;
    border-bottom: 2px dotted #4A4A4A;
  }
  /* line 494, ../sass/style.scss */
  nav ul .active {
    font-weight: 900;
  }

  /* line 501, ../sass/style.scss */
  .photo {
    width: 120px;
    height: 120px;
    display: block;
    margin: 50px auto 20px auto;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    background-image: url(../img/Moaaz-1x1.jpg);
    background-size: cover;
    background-position: center;
  }

  /* line 514, ../sass/style.scss */
  .content, .projects {
    margin: 0 auto;
    width: 100%;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }

  /* line 520, ../sass/style.scss */
  .about {
    margin-top: 50px;
    font-size: 1.25em;
    line-height: 1.5;
    color: #4A4A4A;
  }

  /* line 527, ../sass/style.scss */
  .link-text {
    position: relative;
    font-weight: bold;
    color: #4A4A4A;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
  }
  /* line 534, ../sass/style.scss */
  .link-text:hover {
    color: #212121;
  }
  /* line 537, ../sass/style.scss */
  .link-text:hover:before {
    background-color: #212121;
  }
  /* line 545, ../sass/style.scss */
  .link-text:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #4A4A4A;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  /* line 561, ../sass/style.scss */
  .social {
    margin: 20px auto;
    width: 100%;
    text-align: center;
  }
  /* line 566, ../sass/style.scss */
  .social .link-social {
    min-width: 70px;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin: 10px 16px;
    text-transform: lowercase;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  /* line 575, ../sass/style.scss */
  .social .link-social:hover .text-label {
    opacity: 1;
    transform: translateY(-10px);
  }
  /* line 582, ../sass/style.scss */
  .social .link-social i {
    font-size: 1.8em;
    color: inherit;
  }
  /* line 587, ../sass/style.scss */
  .social .link-social .text-label {
    font-family: 'Lato', 'Helvetica', sans-serif;
    opacity: 0;
    margin-top: 20px;
    display: block;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }

  /* line 599, ../sass/style.scss */
  .social .link-twitter {
    color: #55acee;
  }
  /* line 602, ../sass/style.scss */
  .social .link-twitter:hover {
    color: #2795e9;
  }
  /* line 607, ../sass/style.scss */
  .social .link-behance {
    color: #1769ff;
  }
  /* line 609, ../sass/style.scss */
  .social .link-behance:hover {
    color: #0050e3;
  }
  /* line 614, ../sass/style.scss */
  .social .link-dribbble {
    color: #ea4c89;
  }
  /* line 616, ../sass/style.scss */
  .social .link-dribbble:hover {
    color: #e51e6b;
  }
  /* line 621, ../sass/style.scss */
  .social .link-instagram {
    color: #3f729b;
  }
  /* line 623, ../sass/style.scss */
  .social .link-instagram:hover {
    color: #305777;
  }
  /* line 628, ../sass/style.scss */
  .social .link-github {
    color: #666;
  }
  /* line 630, ../sass/style.scss */
  .social .link-github:hover {
    color: #4d4d4d;
  }
  /* line 635, ../sass/style.scss */
  .social .link-linkedin {
    color: #0976b4;
  }
  /* line 637, ../sass/style.scss */
  .social .link-linkedin:hover {
    color: #075683;
  }
  /* line 642, ../sass/style.scss */
  .social .link-email {
    color: #979797;
  }
  /* line 644, ../sass/style.scss */
  .social .link-email:hover {
    color: #7d7d7d;
  }

  /* line 650, ../sass/style.scss */
  .footer {
    margin: 0 auto 50px auto;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 0.8em;
    color: #979797;
    text-align: center;
  }
  /* line 658, ../sass/style.scss */
  .footer p {
    margin-bottom: 16px;
    line-height: 1.6;
  }
  /* line 663, ../sass/style.scss */
  .footer .link-attribution {
    display: none;
    position: relative;
    color: #979797;
    text-decoration: none;
  }
  /* line 669, ../sass/style.scss */
  .footer .link-attribution:hover {
    color: #979797;
  }
  /* line 672, ../sass/style.scss */
  .footer .link-attribution:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  /* line 679, ../sass/style.scss */
  .footer .link-attribution:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #979797;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  /* line 696, ../sass/style.scss */
  .projects {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    min-height: 300px;
    display: block;
    text-align: center;
  }
  /* line 704, ../sass/style.scss */
  .projects .project {
    margin: auto;
    display: block;
    vertical-align: top;
    box-shadow: 0 0;
  }
  /* line 711, ../sass/style.scss */
  .projects .project-details {
    height: 120px;
  }
  /* line 715, ../sass/style.scss */
  .projects .project-box {
    border-top: 5px solid transparent;
    text-align: left;
    height: 180px;
    width: 90%;
    padding: 16px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  /* line 727, ../sass/style.scss */
  .projects .project-box h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 16px;
  }
  /* line 733, ../sass/style.scss */
  .projects .project-box .tasks {
    display: block;
    margin-bottom: 32px;
  }
  /* line 738, ../sass/style.scss */
  .projects .project-box .view {
    width: 100%;
    display: inline;
    bottom: 10px;
    right: 2px;
    text-align: right;
    font-size: 0.8em;
    margin-bottom: 3px;
    border-bottom: 1px dotted #4A4A4A;
  }
  /* line 751, ../sass/style.scss */
  .projects .remembrall {
    border-top: 5px solid #1DCADD;
  }
  /* line 756, ../sass/style.scss */
  .projects .dribbbleiOS7 {
    border-top: 5px solid #FF1782;
  }
  /* line 760, ../sass/style.scss */
  .projects .flexregistry {
    border-top: 5px solid #01A1DF;
  }
  /* line 767, ../sass/style.scss */
  .projects a:hover .view {
    border-bottom: 1px dotted #fff;
  }
  /* line 770, ../sass/style.scss */
  .projects a:hover .remembrall {
    background: #1DCADD;
    color: #fff;
  }
  /* line 775, ../sass/style.scss */
  .projects a:hover .dribbbleiOS7 {
    background: #FF1782;
    color: #fff;
  }
  /* line 780, ../sass/style.scss */
  .projects a:hover .flexregistry {
    background: #01A1DF;
    color: #fff;
  }
}
