---
layout: default
---
<h1 class="title">DAC 309</h1>
<div class="posts">
  {% for post in site.posts %}
    {% if post.categories contains 'dac309' %}
      <div class="post">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <h2>{{ post.title }}</h2>
          <div class="date">{{ post.date | date_to_long_string }}</div>
          <div class="post-content">{{post.content | truncate: 160}}</div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
