@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,700italic,400italic);

// Font Stacks
$font-stack-sans: 'Work sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-stack-serif: 'PT Serif', 'Georgia', Times, serif;
$font-stack-code: 'Source Code Pro', monospace;
