---
layout: default
---

<h1>Writings</h1>

{% for post in paginator.posts %}
<div class="post">
  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
    <h2>{{ post.title }}</h1>
    <div class="date">{{ post.date | date_to_long_string }}</div>
    <p>{{post.content | truncate: 160}}</p>
  </a>
</div>
{% endfor %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="btn-pagination left" href="{{ paginator.previous_page_path }}" class="previous">PREVIOUS</a>
  {% else %}
    <span class="previous"></span>
  {% endif %}
  <!-- <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->
  {% if paginator.next_page %}
    <a class="btn-pagination right" href="{{ paginator.next_page_path }}" class="next">NEXT</a>
  {% else %}
    <span class="next"></span>
  {% endif %}
</div>
